@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	font-family: 'lato', sans-serif;
	font-size: 25px;
}

header{
	margin-bottom: 20px;
}

.btn-primary,.reset{
	background-color: #313477;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #202364;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h2, #message, #finalMessage{
	font-family: Lato;
}

.thisChoice:hover{
	background-color: #202364;
	color: white;
	padding: 10px;
}
